@media screen and (max-width:1060px){
	body,
	.container_12,
	.grid_12, 
	#qfooter .sld , 
	#qfooter .footer,
	#breadcrumb ul,
	.top,
	.sld,
	.menu{
		max-width: 100%;
	}
	.header,.fixed{
		height: 70px !important;
		margin-bottom: 5px;
	}
	.header div.menu ul{
		padding-left: 110px;
	}
	.header div.menu ul li{
		width: 100px;
	}
	.header div.menu ul li.sv{
		width: 150px;
	}
	.header .menu > ul > li >a,.fixed .menu > ul > li >a{
		font-size: 12px;
		height: 70px;
	}
	.header .menu > ul > li >a i,.fixed .menu > ul > li >a i{
		margin: 5px 0px;
	}
	.header .logo{
		width: 100px;
	}
	.header .logo a img,.fixed .logo a img {
	    width: 100px !important;
	}
	.grid_8,.grid_9{
		width: 60% !important;
		margin-right: 2% !important;
		margin-left: 0px;
	}
	.grid_4,.grid_3{
		width: 38% !important;
		margin-right: 0% !important;
		margin-left: 0px;
	}
	.list-products > ul > li,.list-products > ul > li.page{
		width: 46% !important;
		margin: 2% !important;
		height: 310px !important;

	}
	.list-products > ul > li .image{
		height: 210px !important;
	}
	.list-products > ul > li img{
		width: 100% !important;
		height: auto !important;
	}
	.list-products > ul > li .caption{
		width: 100%;
		background: #d8402f;
		height: 88px;
	}
	.list-products > ul > li .caption h2{
		background: none !important;
		padding: 5px;
		width: 100%;
	}
	
	.sld{
		padding: 0px 30px;
	}
	.footer  .ftname {
		width: 31% !important;
		padding-left: 30px;
		padding-right: 0px;
	}
	#breadcrumb {
		padding-left: 15px;
	}
	.news-details2 .nav li,.products-details .nav li{
		width: 33.3333% !important;
	}
	.news-details2 .nav li a,.products-details .nav li a{
		width: 100% !important;
		font-size: 13px !important;
		font-weight: lighter
	}
	.list-news ul.lists li .img{
		width: 22%;
		float: left;
		height: auto !important;
	}
	.list-news ul.lists li .img img{
		width: 99%;
		height: auto !important;
	}
	.list-news ul.lists li .txt{
		width: 75% !important; 
		float: right: 
	}
	.news-details img,.products-details img{
		max-width: 98% !important;
		height: auto !important;
	}
	.list-products h4.title{margin-right: 0px !important;}
	

}
@media screen and (max-width:768px){
	.grid_8,.grid_9,.grid_4,.grid_3{
		width: 96% !important;
		clear: both;
		float: none;
		padding: 2% !important;
	}
	
	.header div.menu ul{
		display: none;
	}
	.footer  .ftname {
		width: 100% !important;
		clear: both;
		float: none;
		padding-left: 30px;
		padding-right: 30px;
	}
	
}
@media screen and (max-width:480px){
	body {
		width: 100%;
	}
	
}