@charset "UTF-8";
/*
  Theme Name: Faci theme
  Theme URI: http://teachyourself.vn
  Author: deeds_faci
  Author URI: http://teachyourself.vn
  Description: Faci theme was the first version 1.0 (16-03-2016) . 15-08-2016 It changed to Faci deeds theme Version: 3.0.1 
  Version: 3.0.1
  License: GNU General Public License v2 or later
  License URI: http://www.gnu.org/licenses/gpl-2.0.html
  Text Domain: deeds
  Tags: luong ba hop , qsoft , wordpress , viet nam , php , faci
*/
.kun-social{
    margin-bottom:0px !important;
    height: 35px;
    padding-top: 10px;
  }
  .kun-social .button{
    float:left;
    margin:0px 10px 10px 0px;
  }
  /* CSS for BACK TO TOP */
  #totop {
    position: fixed;
    right: 30px;
    bottom: 30px;
    display: none;
    outline: none;
  }
  #totop.blue{
      
      text-align: center;
      color: #fff;
      font-size: 3em;
  }
  /* CSS for breadcrumb */
  .breadcrumb{
    margin-top: 35px;
    color: black;
  }
  .breadcrumb span:first-child{
    padding-left: 0px;
  }
  .breadcrumb span{
    padding:0px 6px;
    font-size: 14px;
    font-weight: bold;
  } 
  /* CSS for select language */
  .lang{
    float: left;
    padding-left: 20px;
  }
  .lang li{
    float:left; 
    list-style: none;
    margin-right:10px; 
    line-height: 25px;
  }
  .lang li.current-lang a{
    text-decoration: underline;
  }
  .lang li a{color: #000;font-size: 12px;}
  .lang li a img{
    
  }
  /* CSS for pagination */
  .wp-pagenavi{
    margin-top: 15px;
  }
  .wp-pagenavi .pages{
      display: none;
  }
  .wp-pagenavi>span.extend {
    display: none !important;
  }
  .wp-pagenavi a,.wp-pagenavi span, .wp-pagenavi a:link, .wp-pagenavi a:visited, .wp-pagenavi span.current{
      border: 1px solid #CCC;
      color: #2a6496;
      background-color: #eee;
      display: inline;
      position: relative;
      float: left;
      padding: 6px 12px !important;
      margin-left: -1px;
      line-height: 1.42857143;
      color: #428bca;
      text-decoration: none;
      background-color: #fff;
      border: 1px solid #ddd;
      border-radius: 50% !important;
      margin: 10px 5px 20px 5px;
  }
  .wp-pagenavi span.current{
      background: #428bca;
    color: #fff;
  }
  .wp-pagenavi a:hover{
    border: 1px solid #444; 
  }

  /* CSS for image in post */
  .alignnone {
    margin: 5px 20px 20px 0;
  }
  .aligncenter, div.aligncenter {
    display:block;
    margin: 5px auto 5px auto;
  }
  .alignright {
    float:right;
    margin: 5px 0 20px 20px;
  }
  .alignleft {
    float:left;
    margin: 5px 20px 20px 0;
  }
  .aligncenter {
    display: block;
    margin: 5px auto 5px auto;
  }
  a img.alignright {
    float:right;
    margin: 5px 0 20px 20px;
  }
  a img.alignnone {
    margin: 5px 20px 20px 0;
  }
  a img.alignleft {
    float:left;
    margin: 5px 20px 20px 0;
  }
  a img.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto
  }
  .wp-caption {
    background: #fff;
    border: 1px solid #f0f0f0;
    max-width: 96%; 
    padding: 5px 3px 10px;
    text-align: center;
  }
  .wp-caption.alignnone {
    margin: 5px 20px 20px 0;
  }
  .wp-caption.alignleft {
    margin: 5px 20px 20px 0;
  }
  .wp-caption.alignright {
    margin: 5px 0 20px 20px;
  }
  .wp-caption img {
    border: 0 none;
    height: auto;
    margin:0;
    max-width: 98.5%;
    padding:0;
    width: auto;
  }
  .wp-caption p.wp-caption-text {
    font-size:11px;
    line-height:17px;
    margin:0;
    padding:0 4px 5px;
  }
